body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  padding: 50px;
}

header {
  height: auto;
  width:auto;
  display: flex;
  align-items: stretch;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

a {
  text-decoration: none;
  color: inherit;
}

.li-nav {
  font-size: 20px;
  text-decoration: underline;
  list-style-type: none;
  line-height: 30px;
  color: silver;
  text-shadow: 1px 1px 1px grey;
}

.title-container {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.title {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-grow: 2;
}

.logo-container {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  flex-wrap: wrap;
}

.title-main {
  padding: 5px;
  flex-grow: 1;
  font-size: 60px;
  line-height: 80px;
  font-family: "Merriweather", sans-serif;
  text-shadow: 2px 2px 1px;
}

.title-note {
  padding: 5px;
  padding-bottom: 120px;
  font-size: 36px;
  align-self: flex-end;
  color: grey;
  font-family: "Merriweather", cursive;
  font-style: italic;
}

.logo {
  margin: 5px;
}

.pic {
  padding: 10px;
  position: relative;
  width: 100%;
  height: auto;
  background: url("img/ksen.JPG") no-repeat center center;
  background-size: cover;
  background-color: #464646;
}

h2 {
  font-family: "Merriweather", sans-serif;
  font-size: 45px;
  color: #808080;
  padding: 10px;
  margin-top: 60px;
  text-align: center;
  border-top: 2px solid silver;
  border-bottom: 2px solid silver;
}

.figure-container {
  display: flex;
  justify-content: center;
}

figcaption {
  font-family: "Merriweather", arial, cursive;
  font-style: italic;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 10px;
}

.figure-img {
   width: 100%;
   max-width: 300px;
   height:auto;
}

.figure-img:hover {
  width: 115%;
  box-shadow: 10px 10px 3px silver;
}

.galery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.foto {
  padding: 15px;
}

.quote-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.quote-card {
  list-style-type: none;
  flex-grow: 1;
  border: 1px solid maroon;
  border-radius: 10%;
  margin: 10px;
  padding: 5px;
  width: 150px;
  font-style: oblique;
  font-size: 16px;
  text-indent: 15px;
}

.site-footer {
  display: flex;
  justify-content: space-between;
  color: #999999;
}

/*
body {
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background: #ffffff url("img/ksen.jpg") no-repeat 50% 0;
}

h1 {
  width: 260px;
  font-family: "Georgia", serif;
  font-size: 36px;
  line-height: 36px;
}

h2 {
  padding-bottom: 12px;
  border-bottom: 1px solid #cccccc;
}

.site-header {
  margin-bottom: 30px;
}

.skills-item {
  margin-bottom: 15px;
  padding-left: 20px;
  border-left: 10px solid #c4c4c4;
  color: #111111;
}

.standart {
  border-color: #ffc5b3;
  color: #111111;
}

.vip {
  border-color: #ff5a26;
  color: #111111;
}

.container {
  width: 480px;
  margin: 0 auto;
}

.site-header img {
  display: block;
  margin: 0 auto;
}

.features {
  margin-bottom: 30px;
}

.features p {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 0 5px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center top;
}

.feature-kitten {
  padding-top: 60px;
  background-image: url("img/bottle.svg");
}

.feature-cat {
  padding-top: 60px;
  background-image: url("img/cat.svg");
}

.feature-train {
  padding-top: 60px;
  background-image: url("img/whistle.svg");
}

.skills-list {
  padding: 0;
  list-style: none;
}

.site-footer {
  display: flex;
  justify-content: space-between;
  color: #999999;
}
*/
