body {
  font-family: "Merriweather", sans-serif;
  font-size: 1em;
  color: #000000;
  padding: 50px;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

header {
  height: auto;
  width:auto;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.nav-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: inherit;
}

.li-nav {
  font-size: 1.5em;
  text-decoration: underline;
  list-style-type: none;
  line-height: 30px;
  color: silver;
  text-shadow: 1px 1px 1px grey;
  padding-left: 50px;
}

.li-nav:first-of-type {
  padding-left: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  margin: 5px;
}

.title {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  display: flex;
  max-width: 1000px;
}

.title-main {
  padding: 5px;
  flex-grow: 1;
  font-size: 2em;
  line-height: 80px;
  text-shadow: 2px 2px 1px;
}

.title-note {
  padding: 5px;
  font-size: 1.2em;
  line-height: 48px;
  align-self: flex-end;
  color: grey;
  font-style: italic;
}

.pic {
  padding: 10px;
  max-width: 100%;
  height: 420px;
  background: url("img/ksen.JPG") no-repeat center center;
}

h2 {
  font-size: 2.5em;
  line-height: 90px;
  color: #808080;
  padding: 40px;
  margin-top: 60px;
  text-align: left;
  border-top: 2px solid silver;
  border-bottom: 2px solid silver;
}

.figure-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

figcaption {
  font-style: italic;
  font-size: 1.1em;
  padding: 5px;
  margin-bottom: 10px;
}

.figure-img {
   width: 100%;
   max-width: 300px;
   height:auto;
}

.figure-img:hover {
  width: 115%;
  box-shadow: 10px 10px 3px silver;
}

.galery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.foto {
  padding: 15px;
}

.quote-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.quote-card {
  list-style-type: none;
  flex-grow: 1;
  border: 1px solid maroon;
  border-radius: 10%;
  margin: 10px;
  padding: 5px;
  width: 150px;
  font-style: oblique;
  font-size: 16px;
  text-indent: 15px;
}

.site-footer {
  display: flex;
  justify-content: space-between;
  color: #999999;
}

#navbutton a {
  position: absolute;
  right: 5%;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 1em;
  border-radius: 0 5px 5px 0;
}

#navbutton a:hover {
  right: 5px;
  border: 1px solid maroon;
  border-radius: 5px;
}
